@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* link */
a {
  text-decoration: none;
}

/* button */
button {
  cursor: pointer;
}